apiVersion: apps/v1
kind: Deployment
metadata:
  name: hpa
  labels:
    app: hpa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hpa
  template:
    metadata:
      labels:
        app: hpa
    spec:
      imagePullSecrets:
        - name: auth-master3-registry
      containers:
        - name: hpa
          image: registry.master3.takima.io/guide/kubernetes-resources/hpa:latest
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 200m
            limits:
              cpu: 500m
          ports:
            - containerPort: 80
